body {
  font-family: 'Ranade', sans-serif;
   color:#FFB5DA;
   height: 100vh;
   background-image: radial-gradient(circle farthest-corner at 100% 0%, #FFFF80 15%, rgba(220, 0, 0, 1) 40%, rgba(50, 0, 0, 1) 90%);
   background-attachment:fixed;
   
 }
  
  

  
main {
  font-size: 4em;
  
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    text-align: center;
}


/* dark mode */
.dark {
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 100% 0%, #FFEBCD 15%, rgba(300, 0, 90, 1) 40%, rgba(50, 0, 70, 1) 90%);
  background-attachment:fixed;
  

}

#switcher {
}
  
  time {

   }
  

  .hours {
    
  }
  
  .minutes {
  }
  
  .seconds {
    font-size: .50em;
    vertical-align: sub;
  }
  
  .amOrPM {
    
  }
  
  .month {
  /*   background: darksalmon; */
  }
  
  .dayOfMonth {
  /*   background: blanchedalmond; */
  }
  
  .year { 
  /*   background: DarkSlateGray; */
  }
  
  .dayOfWeek { 
    
  /*   background: Khaki; */
  }