body {
  font-family: 'Ranade', sans-serif;
   color:#333;
   background: blanchedalmond;
  }
  

main {
  font-size: 4em;
  
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    text-align: center;
}


/* dark mode */
.dark {
  background: #333;
  color: blanchedalmond;
}

#switcher {
}
  
  time {

   }
  

  .hours {
    
  }
  
  .minutes {
  }
  
  .seconds {
    font-size: .50em;
    vertical-align: sub;
  }
  
  .amOrPM {
    
  }
  
  .month {
  /*   background: darksalmon; */
  }
  
  .dayOfMonth {
  /*   background: blanchedalmond; */
  }
  
  .year { 
  /*   background: DarkSlateGray; */
  }
  
  .dayOfWeek { 
    
  /*   background: Khaki; */
  }